package home

import "jirku.sk/zbera/components"

templ Page() {
	@components.Layout("Domov") {
		<div class="columns is-centered">
			<div class={ "box column is-2 is-6-tablet" }>@components.LoginForm("")</div>
		</div>
	}
}