package auth

import "jirku.sk/zbera/components"

templ LoginPage() {
	@components.Layout("") {
		@components.LoginForm("")
	}
}

templ RegisterPage() {
	@components.Layout("") {
		@components.RegistrationForm("")
	}
}

