{{- define "comp.input" -}}

{{- $label := .label -}}
{{- $value := .value -}}
{{- $name := .name -}}
{{- $placeholder := .placeholder -}}
{{- $typ := .type -}}
{{- $hasError := not (empty .errors) -}}
{{- $errors := .errors -}}

<label class="block py-2">
    {{- $label -}}
    <input
        class="w-full mt-1 border-2 p-2 rounded-md {{if $hasError -}}
                border-red-500
            {{- else -}}
                border-gray-300
            {{- end -}}"
        type="{{ $typ }}"
        name="{{ $name }}"
        placeholder="{{ $placeholder }}"
        value="{{ $value }}"
    />
    {{- range $errors -}}
        <p class="text-red-500 text-xs italic">{{.}}</p>
    {{- end -}}
</label>

{{- end -}}

{{- define "comp.select" -}}

{{- $label := .Label }}
{{- $value := .Value }}
{{- $options := .Options }}
{{- $name := .Name }}
{{- $placeholder := .Placeholder }}
{{- $typ := .Type }}
{{- $hasError := not (empty .Errors) }}
{{- $errors := .Errors -}}

<label class="block py-2">
    {{- $label -}}
    <select
        class="w-full mt-1 border-2 p-2 rounded-md
            {{ if $hasError -}}
                border-red-500
            {{- else -}}
                border-gray-300
            {{- end -}}"
        type="{{ $typ }}"
        name="{{ $name }}"
        placeholder="{{ $placeholder }}"
        value="{{ $value }}"
    >
    {{- range $options -}}
        <option value="{{.Value}}">{{ .Label }}</option>
    {{- end -}}
    </select>
    {{- range $errors -}}
        <p class="text-red-500 text-xs italic">{{.}}</p>
    {{- end -}}
</label>
{{- end -}}

{{- define "comp.btn" -}}

{{- $type := .Type -}}
{{- $title := .Title -}}

<button type="{{- $type -}}" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
    {{- $title -}}
</button>
{{- end -}}