{{- define "login-form" -}}

{{- $username := .Form.Username -}}
{{- $csfrToken := .Form.CsfrToken}}
{{- $usernameErrors := .Errors.Username -}}
{{- $passwordErrors := .Errors.Password -}}
{{- $globalError := .GlobalError -}}
{{- $recaptchaKey := .RecaptchaKey }}
{{- $hasRecaptcha := not (empty .RecaptchaKey) }}

<form id="login-form" class="flex flex-col space-y-4" action="/auth/login" method="POST">
    {{- with $globalError -}}<p class="text-red-500 font-bold">{{.}}</p>{{- end -}}
    {{- template "comp.input" dict
        "value"         $username
        "type"          "text"
        "label"         "Username"
        "name"          "Username"
        "placeholder"   "Fill in your username"
        "errors"        $usernameErrors
    -}}
    {{- template "comp.input" dict
        "type"          "password"
        "label"         "Password"
        "name"          "Password"
        "placeholder"   "Specify the password"
        "errors"        $passwordErrors
    -}}
    <input type="hidden" name="csrf_token" value="{{ $csfrToken }}"/>
    <input
        class="mt-4 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded
            {{- if $hasRecaptcha }} g-recaptcha{{ end }}"
        {{ if $hasRecaptcha -}}
            data-sitekey="{{ $recaptchaKey }}"
            data-callback="onLoginSubmit"
            data-action="submit"
        {{- end -}}
        type="submit"
        value="Login"
    />
</form>
<script>
function onLoginSubmit() {
    document.getElementById("login-form").submit();
}
</script>
<script src="https://www.google.com/recaptcha/enterprise.js?render={{ $recaptchaKey }}"></script>
{{- end -}}