{{- define "register-form" -}}

{{- $username           := .Form.Username -}}
{{- $email              := .Form.Email -}}
{{- $usernameErrors     := .Errors.Username -}}
{{- $emailErrors        := .Errors.Email -}}
{{- $passwordErrors     := .Errors.Password -}}
{{- $passConfErrors     := .Errors.PasswordConfirmation -}}
{{- $csfrToken          := .Form.CsfrToken -}}
{{- $recaptchaKey       := .RecaptchaKey -}}
{{- $hasRecaptcha       := not (empty .RecaptchaKey) -}}


<form id="register-form" class="flex flex-col space-y-4" action="/auth/register" method="post">
    {{- template "comp.input" dict
        "value"         $username
        "type"          "text"
        "label"         "Username"
        "name"          "Username"
        "placeholder"   "Fill in your username"
        "errors"        $usernameErrors
    -}}
    {{- template "comp.input" dict
        "value"         $email
        "type"          "text"
        "label"         "Email"
        "name"          "Email"
        "placeholder"   "Specify the email"
        "errors"        $emailErrors
    -}}
    {{- template "comp.input" dict
        "type"          "password"
        "label"         "Password"
        "name"          "Password"
        "placeholder"   "Specify the password"
        "errors"        $passwordErrors
    -}}
    {{- template "comp.input" dict
        "type"          "password"
        "label"         "Password Confirmation"
        "name"          "PasswordConfirmation"
        "placeholder"   "Repeat the password"
        "errors"        $passConfErrors
    -}}
    <input type="hidden" name="csrf_token" value="{{ $csfrToken }}"/>
    <input
        class="mt-4 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded
            {{- if $hasRecaptcha }} g-recaptcha{{ end }}"
        {{ if $hasRecaptcha -}}
            data-sitekey="{{ $recaptchaKey }}"
            data-callback="onRegisterSubmit"
            data-action="submit"
        {{- end -}}
        type="submit"
        value="Register User"
    />
</form>
<script>
    function onRegisterSubmit() {
        document.getElementById("register-form").submit();
    }
</script>
<script src="https://www.google.com/recaptcha/enterprise.js?render={{ $recaptchaKey }}"></script>

{{- end -}}