<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>{{ .title }}</title>
  </head>
  <body class="flex flex-col">
    <div
      class="flex flex-row bg-slate-900 text-slate-100 text-center justify-center gap-4 py-2"
    >
      <div class="p-4">Domov</div>
      <form method="post" action="/auth/login">
        <button
          class="p-4 hover:bg-slate-800 transition-colors duration-200 rounded-lg"
        >
          Login
        </button>
      </form>
    </div>
    <div>{{ template "content" . }}</div>
  </body>
</html>
