{{- define "page" -}}

{{- $title := .Title -}}
{{- $styles := .Styles -}}
{{- $scripts := .Scripts -}}
{{- $csfrToken := .CsfrToken -}}
{{- $user := .User -}}

<html lang="sk" class="h-full overflow-x-clip">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        {{- range $styles -}}
            <link rel="stylesheet" href="{{- . -}}"/>
        {{- end -}}
        {{- /* TODO: remove after tailwindcss is installed  */ -}}
        <script src="https://cdn.tailwindcss.com"></script>
        <title>{{ $title }}</title>
    </head>
    <body>
        <nav class="flex flex-row bg-slate-900 text-slate-100 text-center justify-center gap-4 py-2">
            <a class="p-4 hover:bg-slate-800 transition-colors duration-200 rounded-lg" href="/">Domov</a>
            {{- if $user -}}
                <form method="POST" action="/auth/logout" class="p-0 m-0">
                    <input type="hidden" name="csrf_token" value="{{ $csfrToken }}" />
                    <button class="p-4 hover:bg-slate-800 transition-colors duration-200 rounded-lg">
                        Logout
                    </button>
                </form>
                <span class="flex justify-center items-center text-center italic text-sm">
                    Hello, {{ $user.Username }}!
                </span>
            {{- else -}}
                <a href="/auth/login" class="p-4 hover:bg-slate-800 transition-colors duration-200 rounded-lg">Login</a>
                <a href="/auth/register" class="p-4 hover:bg-slate-800 transition-colors duration-200 rounded-lg">Register</a>
            {{- end -}}
        </nav>
        {{- template "content" . -}}
        {{- range $scripts -}}
            <script type="{{- .Type -}}" src="{{- .Src -}}"></script>
        {{- end -}}
    </body>
</html>
{{- end -}}