package page

import "jirku.sk/zberatel/template/partials"

type LoginVM struct {
	Title string
}

func NewLoginVM() LoginVM {
	return LoginVM{
		Title: "Login",
	}
}

templ Login(vm LoginVM) {
	<h1>{ vm.Title }</h1>
	<div class="w-full flex justify-center">
		@partials.LoginForm()
	</div>
}
